# COVID Severity Prediction using AI Solution - Data Preprocessing
* By Sangwon Baek
* Samsung Medical Center
* March 10th, 2023

### Import necessary packages and read data

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 500)
pd.options.mode.chained_assignment = None

In [2]:
path1 = "../Data/Original/2020_1st_COVID.xlsx"
path2 = "../Data/Original/2021_2nd_COVID.xlsx"
path3 = "../Data/Original/2022_3rd_COVID.xlsx"
path4 = "../Data/Original/2022_3rd_2_COVID.xlsx"
df1 = pd.read_excel(path1, header=2)
df2 = pd.read_excel(path2, header=2)
df3 = pd.read_excel(path3, header=2)
df4 = pd.read_excel(path4, header=2)

In [3]:
columns=['diagnosis', 'No', 'ID', 'age', 'sex', 'symptom_date', 'dx_date', 'adm_date', 'hospitalized_date', 'smoking',
        'UD_HT', 'UD_DM', 'UD_CVD', 'UD_cancer', 'UD_other','SMT_fever', 'SMT_cough', 'SMT_sputum', 'SMT_dyspnea', 
        'SMT_myalgia', 'SMT_sorethroat', 'SMT_mental', 'SMT_GI',

        'Initial_BT', 'Initial_SBP', 'Initial_DBP', 'Initial_PR', 'Initial_RR', 'Initial_SPO2', 'Initial_FIO2',
        'Initial_CXR', 'Initial_CT', 'Initial_WBC', 'Initial_ANC', 'Initial_ALC', 'Initial_PLT', 'Initial_CRP', 
        'Initial_LDH', 'Initial_DD', 'Initial_PCR_c', 'Initial_PCR_r',

        'FU1_BT', 'FU1_SBP', 'FU1_DBP', 'FU1_PR', 'FU1_RR', 'FU1_SPO2', 'FU1_FIO2', 'FU1_CXR', 'FU1_CT', 
        'FU1_WBC', 'FU1_ANC', 'FU1_ALC', 'FU1_PLT', 'FU1_CRP', 'FU1_LDH', 'FU1_DD', 'FU1_PCR_c', 'FU1_PCR_r',

        'FU2_BT', 'FU2_SBP', 'FU2_DBP', 'FU2_PR', 'FU2_RR', 'FU2_SPO2', 'FU2_FIO2','FU2_CXR', 'FU2_CT',
        'FU2_WBC', 'FU2_ANC', 'FU2_ALC', 'FU2_PLT', 'FU2_CRP', 'FU2_LDH', 'FU2_DD', 'FU2_PCR_c', 'FU2_PCR_r',    

        'FU3_BT', 'FU3_SBP', 'FU3_DBP', 'FU3_PR', 'FU3_RR', 'FU3_SPO2', 'FU3_FIO2', 'FU3_CXR', 'FU3_CT',
        'FU3_WBC', 'FU3_ANC', 'FU3_ALC', 'FU3_PLT', 'FU3_CRP', 'FU3_LDH', 'FU3_DD', 'FU3_PCR_c', 'FU3_PCR_r',    

        'FU4_BT', 'FU4_SBP', 'FU4_DBP', 'FU4_PR', 'FU4_RR', 'FU4_SPO2', 'FU4_FIO2', 'FU4_CXR', 'FU4_CT',
        'FU4_WBC', 'FU4_ANC', 'FU4_ALC', 'FU4_PLT', 'FU4_CRP', 'FU4_LDH', 'FU4_DD', 'FU4_PCR_c', 'FU4_PCR_r',    

        'Last_BT', 'Last_SBP', 'Last_DBP', 'Last_PR', 'Last_RR', 'Last_SPO2', 'Last_FIO2', 'Last_CXR', 'Last_CT',
        'Last_WBC', 'Last_ANC', 'Last_ALC', 'Last_PLT', 'Last_CRP', 'Last_LDH', 'Last_DD', 'Last_PCR_c', 'Last_PCR_r',    

        'TX', 'steroid', 'O2sup', 'ventilator', 'ECMO', 'ICU_date', 'Mortality', 'discharge_date']
for cnt, i in enumerate(df1.columns):
    df1.rename(columns={i:columns[cnt]}, inplace=True)
for cnt2, j in enumerate(df2.columns):
    df2.rename(columns={j:columns[cnt2]}, inplace=True)
for cnt3, k in enumerate(df3.columns):
    df3.rename(columns={k:columns[cnt3]}, inplace=True)
for cnt4, k in enumerate(df4.columns):
    df4.rename(columns={k:columns[cnt4]}, inplace=True)

In [4]:
#Conduct necessary preprocessing implementation for new dataframe
df4['FU2_DBP'] = df4['FU2_DBP'].replace(" ", np.nan)
df4['Initial_CRP'] = pd.to_numeric(df4['Initial_CRP'], errors='coerce')
df4['FU2_DBP'] = pd.to_numeric(df4['FU2_DBP'], errors='coerce')

In [5]:
temp = [df1, df2, df3, df4]
#Merge the three datasets to create dataframe
df = pd.concat(temp)    
#Reset index for dataset
df = df.reset_index(drop=True)

In [7]:
len(df)

9199

In [8]:
df.smoking.value_counts()

3    5470
0    2476
2     665
1     588
Name: smoking, dtype: int64

### Exploratory Data Analysis

In [9]:
#Inspection for dependent variables
dependentVariables = ['ventilator', 'ECMO', 'ICU_date', 'Mortality', 'O2sup']
for item in dependentVariables:
    print(pd.unique(df[item]), item)
print("O2 supply not null counts: {}".format(df['O2sup'].notnull().sum()))
print("Ventilator not null counts: {}".format(df['ventilator'].notnull().sum()))
print("ECMO not null counts: {}".format(df['ECMO'].notnull().sum()))
print("ICU admission not null counts: {}".format(df['ICU_date'].notnull().sum()))
print("Mortality not null counts: {}".format(df['Mortality'].notnull().sum()))

[ nan   6.   7.   8.   3.  10.   0.   1.   5.   9.   2.   4.  16.  21.
  13.  -1.  25.  30.  53.  17.  14.  46.  12.  18. -12.  19.  11.  26.
  50.  -2.  38.  -3.  -5.  20.  33.  42.  29.  32.  -6. 164. -11. -50.
  41.  -8.  37. 130.  28.] ventilator
[nan 6 10 3 1 13 'Positive' 5 16 18 7 2 30 14 8 12 17 19 4 9 81 26 15 21
 31 107 20.0 46.0 42.0 0.0 23.0 11.0 -11.0 130.0 58.0] ECMO
[nan 4 6 3 1 'Positive' 8 13 0 24 11.0 58.0 5.0 18.0 2.0 7.0 20.0 19.0
 47.0 21.0 12.0 -1.0 9.0 10.0 15.0 38.0 39.0 26.0 50.0 -2.0 31.0 29.0 -4.0
 36.0 35.0 16.0 -5.0 42.0 57.0 22.0 32.0 -13.0 25.0 28.0 -27.0 -7.0 45.0
 -3.0 -9.0 30.0 41.0 17.0 37.0 -10.0 -29.0 149.0] ICU_date
[ 0.  1. nan] Mortality
[nan 3.0 6.0 5.0 10.0 2.0 0.0 1.0 7.0 4.0 8.0 12.0 11.0 14.0 9.0 -1.0 -4.0
 -6.0 19.0 15.0 34.0 41.0 60.0 47.0 13.0 -8.0 36.0 24.0 17.0 16.0 87.0
 30.0 26 -11 -31 -2 38 -3 28 -15 -5 43 'Positive' -7 -16 42 -9 49 31 -12
 39 -21 45.0 56.0 102.0 21 103 159 32 -19 -71 -10 20 ' ' 130] O2sup
O2 supply not null counts: 3406
Ventilator not null counts: 724
ECMO not null counts: 127
ICU admission not null counts: 946
Mortality not null counts: 8643

### Add mild, moderate, severe column

In [10]:
#Initialize Mild, Moderate, Severe Column (multi-class classification)
df['Mild'] = '0'
df['Moderate'] = '0'
df['Severe'] = '0'

#Check for FiO2 in each period + Ventilator
Initial_FIO2_c = df['Initial_FIO2'].notnull()
FU1_FIO2_c = df['FU1_FIO2'].notnull()
FU2_FIO2_c = df['FU2_FIO2'].notnull()
FU3_FIO2_c = df['FU3_FIO2'].notnull()
FU4_FIO2_c = df['FU4_FIO2'].notnull()
Last_FIO2_c = df['Last_FIO2'].notnull()
O2sup_c = df['O2sup'].notnull()

#Check for dependent variables ECMO, ICU, Mortality, ventilator
ECMO_c = df['ECMO'].notnull()
ICU_c = df['ICU_date'].notnull()
Mortality_c = df['Mortality'] == 1
Ventilator_c = df['ventilator'].notnull()

#Create severe column if any of dependent variables above are true
df.loc[ECMO_c | ICU_c | Mortality_c | Ventilator_c, 'Severe'] = '1'
Severe_c = df['Severe']=='1'

#Create moderate column if any of this is true.
df.loc[Severe_c|Initial_FIO2_c|FU1_FIO2_c|FU2_FIO2_c|FU3_FIO2_c|FU4_FIO2_c|Last_FIO2_c|O2sup_c,'Moderate'] = '1'

#Create mild column if not in Moderate column
df.loc[df['Moderate']=='0', 'Mild'] = '1'

In [11]:
print(df['Mild'].value_counts())
print(df['Moderate'].value_counts())
print(df['Severe'].value_counts())

1    5454
0    3745
Name: Mild, dtype: int64
0    5454
1    3745
Name: Moderate, dtype: int64
0    7835
1    1364
Name: Severe, dtype: int64

### Conduct Preprocessing tasks on dataset

In [12]:
#Preprocessing of errors in the dataset
changeCols = ['Initial_FIO2', 'FU1_FIO2', 'FU2_FIO2', 
              'FU3_FIO2', 'FU4_FIO2', 'Last_FIO2', 'FU2_LDH']
for item in changeCols:
    df[item] = pd.to_numeric(df[item], errors='coerce')

#Checking whether objects are converted correctly: items in changeCols shouldn't be printed
for cnt, v in enumerate(df.dtypes):
    if v not in ['int64', 'float64']:
        print(df.columns[cnt], v)

diagnosis object
ID object
hospitalized_date datetime64[ns]
Initial_CXR object
Initial_CT object
Initial_PCR_c object
Initial_PCR_r object
FU1_CXR object
FU1_CT object
FU1_PCR_c object
FU1_PCR_r object
FU2_CT object
FU2_PCR_c object
FU2_PCR_r object
FU3_PR object
FU3_CXR object
FU3_CT object
FU3_PCR_c object
FU3_PCR_r object
FU4_CXR object
FU4_CT object
FU4_PCR_c object
FU4_PCR_r object
Last_CXR object
Last_CT object
Last_PCR_c object
Last_PCR_r object
TX object
O2sup object
ECMO object
ICU_date object
Mild object
Moderate object
Severe object

In [13]:
#Preprocess PCR tests
pcr_Cols = ['Initial_PCR_c', 'FU1_PCR_c', 'FU2_PCR_c', 'FU3_PCR_c', 
            'FU4_PCR_c', 'Last_PCR_c', 'Initial_PCR_r', 'FU1_PCR_r', 
            'FU2_PCR_r', 'FU3_PCR_r', 'FU4_PCR_r', 'Last_PCR_r']
firstHalf = ['Initial_PCR_c', 'FU1_PCR_c', 'FU2_PCR_c', 'Initial_PCR_r', 'FU1_PCR_r', 'FU2_PCR_r'] 
secondHalf = ['FU3_PCR_c','FU4_PCR_c', 'Last_PCR_c', 'FU3_PCR_r', 'FU4_PCR_r', 'Last_PCR_r']
#Create temporary dataframe
df_temp = df.copy()
df_temp = df_temp[pcr_Cols]

#Turn PCR test less than 38 into positive higher than 38 into negative
#Negative: 0, Positive: 1, Equivocal: 2
for item in pcr_Cols:
    for i in range (len(df_temp[item])): 
        #Turn str with numeric values into numeric data type
        if type(df_temp[item].iloc[i]) == str and df_temp[item].iloc[i].isalpha() == False:
            df_temp[item].iloc[i] = pd.to_numeric(df_temp[item].iloc[i], errors = 'ignore')

        #Turn float or int values to Postiive or Negative depending on its CT values (cutoff: 40)
        if df_temp[item].notnull and (type(df_temp[item].iloc[i]) == float or type(df_temp[item].iloc[i]) == np.float64 
                  or type(df_temp[item].iloc[i]) == int
                  or type(df_temp[item].iloc[i]) == np.int64):
            if df_temp[item].iloc[i] >= 40:
                df_temp[item].iloc[i] = 0
            elif df_temp[item].iloc[i] < 40:
                df_temp[item].iloc[i] = 1

        #Fix the strange values and capitalize first letter, then convert to values
        if type(df_temp[item].iloc[i]) == str:
            #Capitalize the first letter
            df_temp[item].iloc[i] = df_temp[item].iloc[i].capitalize()
            if df_temp[item].iloc[i] == 'Negativeative' or df_temp[item].iloc[i] == 'Negative':
                df_temp[item].iloc[i] = 0
            if df_temp[item].iloc[i] == '29,26' or df_temp[item].iloc[i] == 'Positive':
                df_temp[item].iloc[i] = 1
            if df_temp[item].iloc[i] == '재확인' or df_temp[item].iloc[i] == 'Equivoca' or df_temp[item].iloc[i] == 'Equivocal':
                df_temp[item].iloc[i] = 2
        
        #Equivocal은 Initial~FU2에 있으면 1(positive), FU3~last에 있으면 0(negative)
        if df_temp[item].iloc[i] == 2 and item in str(firstHalf):
            df_temp[item].iloc[i] = 1
        elif df_temp[item].iloc[i] == 2 and item in str(secondHalf):
            df_temp[item].iloc[i] = 0
        
    #Transfer to original dataframe from temp dataframe    
    df[item] = df_temp[item]

In [14]:
def combinePCR(df, item, A, B):
    df[item] = np.nan
    for i in range (len(df)):
        if df[A].notnull()[i] == True and df[B].notnull()[i] == True:
            df[item].iloc[i] = '0'
        if df[A].iloc[i] == 1 or df[B].iloc[i] == 1:
            df[item].iloc[i] = '1'
    return df

df = combinePCR(df, 'Initial_PCR', 'Initial_PCR_c', 'Initial_PCR_r')
df = combinePCR(df, 'FU1_PCR', 'FU1_PCR_c', 'FU1_PCR_r')
df = combinePCR(df, 'FU2_PCR', 'FU2_PCR_c', 'FU2_PCR_r')
df = combinePCR(df, 'FU3_PCR', 'FU3_PCR_c', 'FU3_PCR_r')
df = combinePCR(df, 'FU4_PCR', 'FU4_PCR_c', 'FU4_PCR_r')
df = combinePCR(df, 'Last_PCR', 'Last_PCR_c', 'Last_PCR_r')

In [15]:
#After combining PCR, for missing PCR we impute Nan with 1 because our patient set is made up of COVID positive
PCR_Names = ['Initial_PCR', 'FU1_PCR', 'FU2_PCR', 'FU3_PCR', 'FU4_PCR', 'Last_PCR' ]
for item in PCR_Names:
    print(df[item].value_counts())
    df[item]=df[item].fillna('1')
    print(df[item].value_counts())
#Remove PCR columns because they become useless for this study
df = df.drop(columns=pcr_Cols)

1    4460
0     138
Name: Initial_PCR, dtype: int64
1    9061
0     138
Name: Initial_PCR, dtype: int64
1    2279
0     135
Name: FU1_PCR, dtype: int64
1    9064
0     135
Name: FU1_PCR, dtype: int64
1    2832
0     249
Name: FU2_PCR, dtype: int64
1    8950
0     249
Name: FU2_PCR, dtype: int64
1    1976
0     316
Name: FU3_PCR, dtype: int64
1    8883
0     316
Name: FU3_PCR, dtype: int64
1    1311
0     285
Name: FU4_PCR, dtype: int64
1    8914
0     285
Name: FU4_PCR, dtype: int64
1    829
0    514
Name: Last_PCR, dtype: int64
1    8685
0     514
Name: Last_PCR, dtype: int64

In [16]:
cols = ['O2sup', 'ventilator', 'ECMO', 'ICU_date', 'TX', 'UD_other']
UD = ['UD_HT','UD_DM', 'UD_CVD', 'UD_cancer', 'UD_other']
SMT = ['SMT_fever', 'SMT_cough', 'SMT_sputum', 'SMT_dyspnea', 'SMT_myalgia', 'SMT_mental', 'SMT_GI']
CXRCT = ['Initial_CXR', 'FU1_CXR', 'FU2_CXR', 'FU3_CXR', 'FU4_CXR', 'Last_CXR', 'Initial_CT', 'FU1_CT', 'FU2_CT', 'FU3_CT', 'FU4_CT', 'Last_CT']

for item in cols:
    print(pd.unique(df[item]), item)

[nan 3.0 6.0 5.0 10.0 2.0 0.0 1.0 7.0 4.0 8.0 12.0 11.0 14.0 9.0 -1.0 -4.0
 -6.0 19.0 15.0 34.0 41.0 60.0 47.0 13.0 -8.0 36.0 24.0 17.0 16.0 87.0
 30.0 26 -11 -31 -2 38 -3 28 -15 -5 43 'Positive' -7 -16 42 -9 49 31 -12
 39 -21 45.0 56.0 102.0 21 103 159 32 -19 -71 -10 20 ' ' 130] O2sup
[ nan   6.   7.   8.   3.  10.   0.   1.   5.   9.   2.   4.  16.  21.
  13.  -1.  25.  30.  53.  17.  14.  46.  12.  18. -12.  19.  11.  26.
  50.  -2.  38.  -3.  -5.  20.  33.  42.  29.  32.  -6. 164. -11. -50.
  41.  -8.  37. 130.  28.] ventilator
[nan 6 10 3 1 13 'Positive' 5 16 18 7 2 30 14 8 12 17 19 4 9 81 26 15 21
 31 107 20.0 46.0 42.0 0.0 23.0 11.0 -11.0 130.0 58.0] ECMO
[nan 4 6 3 1 'Positive' 8 13 0 24 11.0 58.0 5.0 18.0 2.0 7.0 20.0 19.0
 47.0 21.0 12.0 -1.0 9.0 10.0 15.0 38.0 39.0 26.0 50.0 -2.0 31.0 29.0 -4.0
 36.0 35.0 16.0 -5.0 42.0 57.0 22.0 32.0 -13.0 25.0 28.0 -27.0 -7.0 45.0
 -3.0 -9.0 30.0 41.0 17.0 37.0 -10.0 -29.0 149.0] ICU_date
[4 2 0 2.4 3 '3,4' 1 '2,4' '1,4' '1,2,4' '1,2' nan '2,3,4' '0' '1,3'] TX
[ 0.  1. nan] UD_other

In [17]:
#Preprocess Initial_CXR: turn 5 & loss to null
for i in range(len(df['Initial_CXR'])):
    if df['Initial_CXR'].iloc[i] == 5:
        df['Initial_CXR'].iloc[i] = np.nan
    if df['Initial_CXR'].iloc[i] == 'loss':
        df['Initial_CXR'].iloc[i] = np.nan 
for item in CXRCT:
    print(pd.unique(df[item]), item)

[0.0 2.0 1.0 nan '1' '2' '0' 'Unknown'] Initial_CXR
[1.0 0.0 2.0 nan '1' '2' '0' 'Unknown'] FU1_CXR
[ 1.  0.  2. nan] FU2_CXR
[1.0 0.0 2.0 nan '0' '2' '1' ' '] FU3_CXR
[1.0 0.0 2.0 nan '0' '2' '1' ' ' 'Unknown'] FU4_CXR
[nan 1.0 0.0 2.0 '2' '0' '1' ' '] Last_CXR
[nan 1.0 2.0 0.0 '1' '0' '2' ' ' 'Unknown'] Initial_CT
[nan 2.0 1.0 0.0 '1' '0' '2' ' ' 'Unknown'] FU1_CT
[1.0 nan 2.0 0.0 '2' '1' ' ' '0' 'Unknown'] FU2_CT
[nan 1.0 0.0 2.0 '1' ' ' '0' '2' 'Unknown'] FU3_CT
[nan 1.0 0.0 2.0 '1' '2' ' ' '0' 'Unknown'] FU4_CT
[nan 2.0 1.0 0.0 '2' '1' ' ' '0' 'Unknown'] Last_CT

### One hot encoding

In [18]:
#One hot encoding for Treatment column 
df_OneHot = df.copy()
df_OneHot['TX'] = df_OneHot['TX'].astype(str).replace('nan','0').apply(lambda x: x.split(','))
df_OneHotLong = df_OneHot.explode('TX')
df_OneHotTemp = pd.concat([df, pd.get_dummies(df_OneHotLong['TX'],prefix='TX', prefix_sep='_')], axis=1)
df_OneHotDone = df_OneHotTemp.groupby('No').max().reset_index()
TX_Cols = ['No','TX_0','TX_1','TX_2','TX_3','TX_4']
TX_Cols_With_No = ['No','TX_0','TX_1','TX_2','TX_3','TX_4']
df_OneHotDone[TX_Cols].astype(int)

          No  TX_0  TX_1  TX_2  TX_3  TX_4
0     200001     0     0     0     0     1
1     200002     0     0     1     0     0
2     200003     0     0     0     0     1
3     200004     0     0     1     0     0
4     200005     0     0     1     0     0
...      ...   ...   ...   ...   ...   ...
9194  224031     0     1     0     0     1
9195  224032     0     1     0     0     0
9196  224033     0     1     0     0     0
9197  224034     1     0     0     0     0
9198  224035     0     1     0     0     1

[9199 rows x 6 columns]

In [19]:
#Merge original dataframe and one-hot-encoded dataframe, then remove original TX column
df = pd.merge(df,df_OneHotDone[TX_Cols_With_No], on='No',how='left').drop(columns='TX')

#Print results
for item in TX_Cols:
    print(df[item].value_counts())

200001    1
220972    1
220966    1
220967    1
220968    1
         ..
211804    1
211803    1
211802    1
211800    1
224035    1
Name: No, Length: 9199, dtype: int64
0    6733
1    2466
Name: TX_0, dtype: int64
0    7012
1    2187
Name: TX_1, dtype: int64
0    8582
1     617
Name: TX_2, dtype: int64
0    9007
1     192
Name: TX_3, dtype: int64
1    4820
0    4379
Name: TX_4, dtype: int64

In [20]:
#One hot encoding for Smoking column
df_Smoking = pd.get_dummies(df['smoking']).rename(columns={0.0: "Smoking_0", 1.0: "Smoking_1", 2.0: "Smoking_2", 3.0: "Smoking_3"})

#Merge original dataframe and one-hot-encoded dataframe, then remove original TX column
df = df.join(df_Smoking).drop(columns='smoking')

### ALC, ANC, WBC data

In [21]:
BloodCell = [['Initial_WBC', 'Initial_ANC', 'Initial_ALC'],
             ['FU1_WBC', 'FU1_ANC', 'FU1_ALC'],
             ['FU2_WBC', 'FU2_ANC', 'FU2_ALC']]
df_bloodcell = df[['No', 'ID', 'age', 'sex', 'dx_date', 
              'Initial_WBC', 'Initial_ANC', 'Initial_ALC', 
              'FU1_WBC', 'FU1_ANC', 'FU1_ALC',
              'FU2_WBC', 'FU2_ANC', 'FU2_ALC']]

In [22]:
for i in range(len(df_bloodcell)):
    for WBC, ANC, ALC in BloodCell:
        sumVal = np.NaN
        WN_Val = np.NaN
        WL_Val = np.NaN
        ANC_val = df_bloodcell[ANC][i]
        ALC_val = df_bloodcell[ALC][i]
        WBC_val = df_bloodcell[WBC][i]
        #Assign sumval by checking if ANC & ALC column is empty or not
        if pd.notnull(ANC_val) and pd.notnull(ALC_val):
            sumVal = round(ANC_val + ALC_val,1)
        elif pd.notnull(WBC_val) and pd.notnull(ALC_val):
            WL_Val = WBC_val - ALC_val
        elif pd.notnull(WBC_val) and pd.notnull(ANC_val):
            WN_Val = WBC_val - ANC_val
        elif pd.isnull(ANC_val):
            sumVal = round(ALC_val,1)
        elif pd.isnull(ALC_val):
            sumVal = round(ANC_val,1)
        
        #WBC val less than SumVal then sumval = WBC val
        if WBC_val < sumVal:
            df_bloodcell[WBC][i] = sumVal

        #ANC val missing then fill in with WBC - ALC
        if pd.notnull(WBC_val) and pd.notnull(ALC_val) and pd.isnull(ANC_val):
            df_bloodcell[ANC][i] = WL_Val

        #ALC val missing then fill in with WBC - ANC
        if pd.notnull(WBC_val) and pd.notnull(ANC_val) and pd.isnull(ALC_val):
            df_bloodcell[ALC][i] = WN_Val

### Extract only hospital ID from ID column

In [23]:
import re
def search_ID(ID):
    return re.match(r'^[A-Za-z]{3}', ID)[0]
df['ID'] = df['ID'].apply(lambda x: search_ID(x))

### Save datset as new csv

In [24]:
#Save preprocessed data file as CRF file
df.to_csv("../Data/Preprocessed/CRF_Preprocessed_Original.csv")